a:link {
    text-decoration: none;
    color: #808080;

  }

body {
  background: dimgrey;
}



h1 {
  color: White;
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  color:White;
  font-family: "Times New Roman", Times, serif;

}

.button {
  background-color:black;
  border: none;
  color: White;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

  .button2 {
  background-color:black;
  border: none;
  color: White;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.button3 {
background-color:black;
border: none;
color: White;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 15px;
}


.button4 {
background-color: black;
border: none;
color: White;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 15px;
}

table {
  margin-top: -54px;
  margin-left:-8px;
  width: 100%;
  height: 35px;
  position: fixed;
  background-color:White;
  color:black;
}

table, tr, th {
  border-width:0px;
}

th {
  text-align: center;
  width: 15%;
}
